@import "_icon"
@import "_sprite"
@import "_header"
@import "_background"
@import "_main"

body
  font-family Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  background url(/img/bg.png) repeat 0 0

img
  vertical-align bottom

.svg-symbols
	height 0

.gulp-template
	padding 20px
	&__section
		margin-bottom 20px

		h2
			margin-bottom 20px
			padding 5px
			border-bottom 1px solid #aaa
			font-size 30px

		.sprite
			display inline-block

		.icon
			&::before
				font-size 100px

		.sprite-svg
			width 100px
			height 100px